
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h1>Yeni Kategori</h1>
<hr />

<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" name="Name" class="form-control" />
    <input type="text" placeholder="Açıklama" name="Description" class="form-control" />
    <button class="btn btn-success">Ekle</button>
</form>

