
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Index</h2>

<table class="table table-hover">
        <tr>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>