
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
       
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
</table>